# Credentials for PostgreSQL
POSTGRES_USER=transaction_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=transaction_db

# URL of DB for the app (must match POSTGRES_USER/POSTGRES_PASSWORD/POSTGRES_DB above)
DATABASE_URL=postgresql+psycopg2://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres:5432/$POSTGRESS_DB

# URL of the provider (WireMock)
PROVIDER_URL=http://wiremock:8080

# API key required in the X-API-Key header for all /transactions endpoints
# generate one with: openssl rand -hex 32
API_KEY=change_me
